

@import "./fonts.css";

@import "tailwindcss";

Custom
  styles
  for
  slick
  arrows
  to
  match
  the
  design
  (optional but recommended)
  .slick-prev:before,
.slick-next:before {
  display: none !important; /* Hide default arrows */
}
.slick-prev,
.slick-next {
  width: 40px !important;
  height: 40px !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.slick-prev {
  left: -50px !important; /* Adjust based on your layout */
}
.slick-next {
  right: -50px !important; /* Adjust based on your layout */
}

/* Style for your custom arrow icons */
.custom-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; Remove if you want just the icon */
  /* border-radius: 50%; */
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
}

.swiper-pagination {
  margin-top: 8px; /* Increase space from content */
  position: relative !important;
 
}

.swiper-pagination-bullet {
  background-color: #aca188 !important; /* inactive dot */
  opacity: 0.5; /* optional, so active stands out */
}

.swiper-pagination-bullet-active {
  background-color: #aca188 !important; /* active dot */
  opacity: 1;
}

/* Base dot */
/* .custom-pagination .swiper-pagination-bullet {
  @apply w-4 h-4 border rounded-full ;
}

/* Active dot */
/* .custom-pagination .swiper-pagination-bullet-active {
  @apply bg-black w-4 h-4 rounded-full;
} */

.hd {
  font-family: avenir !important;
}

.heading {
  font-family: avenir !important;
  font-size: 30px;
  font-weight: 700;
  color: #2e2c2d;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* Make date & time picker icons white */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
