/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 
 
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* :root{
  --prim-color:#e8021f;
  --section-dark-bg:#1b1b1b;
}

html,
body {
  background-color: #111111;
} */

@import "./fonts.css";

@import "tailwindcss";

Custom
  styles
  for
  slick
  arrows
  to
  match
  the
  design
  (optional but recommended)
  .slick-prev:before,
.slick-next:before {
  display: none !important; /* Hide default arrows */
}
.slick-prev,
.slick-next {
  width: 40px !important;
  height: 40px !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.slick-prev {
  left: -50px !important; /* Adjust based on your layout */
}
.slick-next {
  right: -50px !important; /* Adjust based on your layout */
}

/* Style for your custom arrow icons */
.custom-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; Remove if you want just the icon */
  /* border-radius: 50%; */
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
}

.swiper-pagination {
  margin-top: 8px; /* Increase space from content */
  position: relative !important;
 
}

.swiper-pagination-bullet {
  background-color: #aca188 !important; /* inactive dot */
  opacity: 0.5; /* optional, so active stands out */
}

.swiper-pagination-bullet-active {
  background-color: #aca188 !important; /* active dot */
  opacity: 1;
}

/* Base dot */
/* .custom-pagination .swiper-pagination-bullet {
  @apply w-4 h-4 border rounded-full ;
}

/* Active dot */
/* .custom-pagination .swiper-pagination-bullet-active {
  @apply bg-black w-4 h-4 rounded-full;
} */

.hd {
  font-family: avenir !important;
}

.heading {
  font-family: avenir !important;
  font-size: 30px;
  font-weight: 600;
  color: #2e2c2d;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* Make date & time picker icons white */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
